.shimmer-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.shimmer-card {
  border: 1px solid grey;
  background-color: beige;
  min-height: 200px;
  min-width: 200px;
  background: linear-gradient(-90deg, #eee 40%, #fafafa 50%, #eee 60%);
  background-size: 300%;
  background-position-x: 100%;
  animation: shimmer 1s infinite linear;
}

@keyframes shimmer {
  to {
    background-position-x: 0%;
  }
}
