.card-container {
  display: flex;
  gap: 20px;
  padding: 5px;
  margin: 5px;
  flex-wrap: wrap;
}

.card {
  border: 1px solid grey;
  background-color: beige;
  display: flex;
  flex-direction: column;
}

/* img {
  background-size: contain;
  background-repeat: no-repeat;
} */

.meme-image {
  width: 300px;
  height: 300px;
  padding: 20px;
}
